{% extends "Patient_page_template.html" %}

{% block header %}
    <h1 style="color: rgb(150,190, 230); text-align: end">Authorize Provider</h1>
{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="row justify-content-center" style="padding: 15px;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST" action="/Patient_Create_Authorization">
            {% csrf_token %} <!-- Form  Security Token, I think-->
            <h1 class="text-center">Authorize Provider to Access Information</h1>
            <div class="form-group">
                <label for="provider">Healthcare Provider Email</label>
            <input id="provider" type="text" class="form-control" placeholder="Healthcare Provider Email" required="required" name="provider">
            </div><br>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block">Authorize</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
