{% extends "Patient_page_template.html" %}

{% block title %} Score Input {% endblock %}

{% block header %}
    <h1>Patient's Score Input</h1>
{% endblock %}

{% block content %}

    <div class="container-sm">
        <h1 class="text-center" style="padding: 20px">Tracking Scores</h1>
        <form>
            <div class="row">

                    <h3 class="text-start" style="padding: 15px">Phantom Limb Pain Scale:</h3>
                    <div class=" col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP0" value=0>
                        <label class="form-check-label" for="PLP0">0</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP1" value=1>
                        <label class="form-check-label" for="PLP1">1</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP2" value=2>
                        <label class="form-check-label" for="PLP2">2</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP3" value=3>
                        <label class="form-check-label" for="PLP3">3</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP4" value=4>
                        <label class="form-check-label" for="PLP4">4</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP5" value=5>
                        <label class="form-check-label" for="PLP5">5</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP6" value=6>
                        <label class="form-check-label" for="PLP6">6</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP7" value=7>
                        <label class="form-check-label" for="PLP7">7</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP8" value=8>
                        <label class="form-check-label" for="PLP8">8</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP9" value=9>
                        <label class="form-check-label" for="PLP9">9</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="PLP" id="PLP10" value=10>
                        <label class="form-check-label" for="PLP10">10</label>
                    </div>
            </div>

            <div class="row">
                    <h3 class="text-start" style="padding: 15px">Residual Limb Pain Scale:</h3>
                    <div class=" col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP0" value=0>
                        <label class="form-check-label" for="RLP0">0</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP1" value=1>
                        <label class="form-check-label" for="RLP1">1</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP2" value=2>
                        <label class="form-check-label" for="RLP2">2</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP3" value=3>
                        <label class="form-check-label" for="RLP3">3</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP4" value=4>
                        <label class="form-check-label" for="RLP4">4</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP5" value=5>
                        <label class="form-check-label" for="RLP5">5</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP6" value=6>
                        <label class="form-check-label" for="RLP6">6</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP7" value=7>
                        <label class="form-check-label" for="RLP7">7</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP8" value=8>
                        <label class="form-check-label" for="RLP8">8</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP9" value=9>
                        <label class="form-check-label" for="RLP9">9</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RLP" id="RLP10" value=10>
                        <label class="form-check-label" for="RLP10">10</label>
                    </div>
            </div>
            
            <div class="row">
                    <h3 class="text-start" style="padding: 15px">Socket Comfort Score Scale:</h3>
                    <div class=" col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS0" value=0>
                        <label class="form-check-label" for="SCS0">0</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS1" value=1>
                        <label class="form-check-label" for="SCS1">1</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS2" value=2>
                        <label class="form-check-label" for="SCS2">2</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS3" value=3>
                        <label class="form-check-label" for="SCS3">3</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS4" value=4>
                        <label class="form-check-label" for="SCS4">4</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS5" value=5>
                        <label class="form-check-label" for="SCS5">5</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS6" value=6>
                        <label class="form-check-label" for="SCS6">6</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS7" value=7>
                        <label class="form-check-label" for="SCS7">7</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS8" value=8>
                        <label class="form-check-label" for="SCS8">8</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS9" value=9>
                        <label class="form-check-label" for="SCS9">9</label>
                    </div>
                    <div class="col form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="SCS" id="SCS10" value=10>
                        <label class="form-check-label" for="SCS10">10</label>
                    </div>
            </div>
            
            
        </form>
    </div>

{% endblock %}