{% extends "Patient_page_template.html" %}

{% block title %} Patient Authorizations {% endblock %}

{% block header %}
    <h1 style="color: rgb(150,190, 230); text-align: end">Authorizations</h1>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <div class="container-md">
        <h2 class="text-center">Authorized Providers</h2><br>
            {% for provider in providers %}
                <a href="/Patient_Provider_Info/{{ provider.provider_id }}" style="text-decoration:none;color:rgb(0,0,0)">
                    <div class="row justify-content-center" style="padding: 15px">
                        <div class="col-9 align-self-center time_point" >
                            <p style="font-size: 20px"><b>Provider Name:</b> {{ provider.pname }}</p>
                            <p style="font-size: 20px"><b>Provider Email:</b> {{ provider.email }}</p>
                            <p style="font-size: 20px"><b>Provider specialty:</b> {{ provider.specialty }}</p>
                            <p style="font-size: 20px"><b>organization:</b> {{ provider.organization }}</p>
                        </div>
                    </div>
                </a>

            {% endfor %}
        </table>
    </div>
    <br><br><br>
    <div class="container-md">
        <h2 class="text-center">Providers requesting Authorization</h2><br>
            {% for providerR in requests %}
               <a href="/Patient_Provider_Info/{{ provider.provider_id }}" style="text-decoration:none;color:rgb(0,0,0)">
                    <div class="row justify-content-center" style="padding: 15px">
                        <div class="col-9 align-self-center time_point" >
                            <p style="font-size: 20px"><b>Provider Name:</b> {{ provider.pname }}</p>
                            <p style="font-size: 20px"><b>Provider Email:</b> {{ provider.email }}</p>
                            <p style="font-size: 20px"><b>Provider specialty:</b> {{ provider.specialty }}</p>
                            <p style="font-size: 20px"><b>organization:</b> {{ provider.organization }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </table>
    </div>
{% endblock %}