{% extends "Patient_page_template.html" %}

{% block title %} Time Points {% endblock %}

{% block header %}
    <h1>Patient's Time Points</h1>
{% endblock %}


{% block content %}
<div class="container-lg">
    <!-- Each Time Point Block is a button/link that takes the user to the specific appointment info page -->
    <a href="/Patient_Time_Point_Info" style="text-decoration:none;color:rgb(0,0,0)">
        <div class="row justify-content-center" style="padding: 15px">

            <div class="col-9 align-self-center" style="border-style:groove;border-color:rgb(173, 188, 204);background-color: rgb(173, 188, 204)">
                <h1 class="text-center">PS Time Point</h1>
                <p style="font-size: 20px"><b>Date:</b> 4/10/24, 10:00 AM</p>
                <p style="font-size: 20px"><b>Team Members:</b> Surgeon</p>
                <p style="font-size: 20px"><b>Location:</b> HMC</p>
            </div>
        </div>
    </a>
    <a href="/Patient_Time_Point_Info" style="text-decoration:none;color:rgb(0,0,0)">
        <div class="row justify-content-center" style="padding: 15px">
            <div class="col-9 align-self-center" style="border-style:groove;border-color:rgb(173, 188, 204);background-color: rgb(173, 188, 204)">
                <h1 class="text-center">PPR Time Point</h1>
                <p style="font-size: 20px"><b>Date:</b> 5/15/24, 12:00 PM</p>
                <p style="font-size: 20px"><b>Team Members:</b> Prosthetist</p>
                <p style="font-size: 20px"><b>Location:</b> PSHRH</p>
            </div>
        </div>
    </a>
</div>

{% endblock %}