{% extends "Patient_page_template.html" %}

{% block title %} Postsurgical Stabilization {% endblock %}

{% block header %}
    <h1>Postsurgical Stabilization Information</h1>
{% endblock %}


{% block content %}

<br>
<b style = "font-size: 24px; margin-left: 20px; margin-right: 20px">Step 1:</b>
<br>
<p style = "font-size: 20px; margin-left: 20px; margin-right: 20px"> Postsurgical stabilization (PS), is the amputation surgery and 
    immediate postsurgical phases or post-op phase. This step takes place at the hospital and involves surgery and subsequent 
    stabilization so that patients can be safely discharged to the next level of care.</p>

<hr>
<br>
<h3 style = "margin-left: 20px; margin-right: 20px">Appointments</h3>

<ul style = "font-size: 20px; margin-left: 20px; margin-right: 20px">
    <li><b>Admission Date: </b> &nbsp; 4/10/24, 10:00 AM</li>
    <li><b>Discharge Date: </b> &nbsp;&nbsp; 4/11/24, 10:00 PM</li>
    <li><b>Team: </b> &nbsp;&emsp;&emsp;&emsp;&emsp;&nbsp; Surgeon, Prosthetist</li>
    <li><b> Location: </b> &emsp;&emsp;&emsp;&nbsp; HMC</li>
</ul> 

{% endblock %}
