{% extends "Patient_page_template.html" %}

{% block header %}
    <h1 style="color: rgb(150,190, 230); text-align: end">Patient Lower Limb-loss Rehabilitation Continuum Application</h1>
{% endblock %}

{% block content %}
<div class="container-lg">
    <!--style="background-color: rgb(122, 137, 153);" -->
    <!-- Insert upcoming appointment information and current step-->
    <div class="row justify-content-center" style="padding: 15px;color:rgb(0,0,0)">
        <div class="col-9 align-self-center">
            <h1 class="text-center">
                Current:
                <a href="/Patient_Postsurgical_Stabilization" style="text-decoration:none;color:rgb(0,0,0)">
                 Postsurgical Stabilization
                </a>
            </h1>
            <p class="text-center" style="font-size: 20px">Overview: This step takes place at the acute hospital and
                involves surgery and stabilization thereafter, so that patients can
                be safely discharged to the next level of care.</p>

        </div>
    </div>
    <!-- Upcoming Time Point Information -->
    <!--<a href="/" style="text-decoration:none;color:rgb(0,0,0)"> {# Makes this section into a link to the time point #}
        <div class="row justify-content-center" style="padding: 15px">
            <div class="col-9 align-self-center" style="border-style:groove;border-color:rgb(173, 188, 204);background-color: rgb(173, 188, 204)">
                <h1 class="text-center">Upcoming Time Point</h1>
                <p style="font-size: 20px"><b>Date:</b> 4/10/24, 10:00 AM</p>
                <p style="font-size: 20px"><b>Team Member:</b> Surgeon</p>
                <p style="font-size: 20px"><b>Location:</b> HMC</p>
            </div>
        </div>
    </a>-->
</div>

{% endblock %}