{% extends "Patient_page_template.html" %}

{% block title %} Prosthetic Rehabilitation {% endblock %}

{% block header %}
    <h1>Prosthetic Rehabilitation Information</h1>
{% endblock %}


{% block content %}

<br>
<b style = "font-size: 24px; margin-left: 20px; margin-right: 20px">Step 5:</b>
<br>
<p style = "font-size: 20px; margin-left: 20px; margin-right: 20px"> Prosthetic Rehabilitation- Inpatient (PR), corresponds to the
    prosthetic training phase. This step takes place at the inpatient rehabilitation facility and aims to achieve functional 
    independence and medical stability at the prosthetic device level for safe discharge to the community.</p>

<hr>
<br>
<h3 style = "margin-left: 20px; margin-right: 20px">Appointments</h3>

<ul style = "font-size: 20px; margin-left: 20px; margin-right: 20px">
    <li><b>Admission Date: </b> &nbsp; 4/10/24, 10:00 AM</li>
    <li><b>Discharge Date: </b> &nbsp;&nbsp; 4/11/24, 10:00 PM</li>
    <li><b>Team: </b> &nbsp;&emsp;&emsp;&emsp;&emsp;&nbsp; PM&R, PT, OT</li>
    <li><b> Location: </b> &emsp;&emsp;&emsp;&nbsp; PSHRH</li>
</ul> 

{% endblock %}
