{% extends "Patient_page_template.html" %}

{% block title %} Prosthetic Fitting {% endblock %}

{% block header %}
    <h1>Prosthetic Fitting Information</h1>
{% endblock %}


{% block content %}

<br>
<b style = "font-size: 24px; margin-left: 20px; margin-right: 20px">Step 4:</b>
<br>
<p style = "font-size: 20px; margin-left: 20px; margin-right: 20px">  Prosthetic fitting (PF), is the prescription phase and fitting 
    timepoint. It also occurs in the community setting and involves prosthetic clinic visits and time taken to make a well-fitting 
    prosthesis.</p>

<hr>
<br>
<h3 style = "margin-left: 20px; margin-right: 20px">Appointments</h3>

<ul style = "font-size: 20px; margin-left: 20px; margin-right: 20px">
    <li><b>Admission Date: </b> &nbsp; 4/10/24, 10:00 AM</li>
    <li><b>Discharge Date: </b> &nbsp;&nbsp; 4/11/24, 10:00 PM</li>
    <li><b>Team: </b> &nbsp;&emsp;&emsp;&emsp;&emsp;&nbsp; PM&R , Prosthetist</li>
    <li><b> Location: </b> &emsp;&emsp;&emsp;&nbsp; <b>_______</b>O&P Clinic</li>
</ul> 

{% endblock %}
