{% extends "Base_Template.html" %}

{% block title %} Postsurgical Stabilization {% endblock %}

{% block header %}
    <h1>Postsurgical Stabilization</h1>
{% endblock %}


{% block content %}
<div class="container-lg">

        <div class="row justify-content-center" style="padding: 15px">
            <div class="col-7 align-self-center">
                <h1 class="text-center">1. Overview</h1>
                <p class="text-center" style="font-size: 20px">This step takes place at the acute hospital and
                    involves surgery and stabilization thereafter, so that patients can
                    be safely discharged to the next level of care.</p>

            </div>
        </div>
        <div class="row justify-content-start" style="padding: 15px">
            <div class="col-7 align-self-start">
                <h2 class="text-start">2. Post-op</h2>
                <p>Healing, pain control, promoting movements, emotional care</p>
            </div>
        </div>

    </div>

{% endblock %}