{% extends "Base_Template.html" %}

{% block title %} Preprosthetic Rehabilitation {% endblock %}

{% block header %}
    <h1>Preprosthetic Rehabilitation</h1>
{% endblock %}


{% block content %}

    <div class="container-lg">

        <div class="row justify-content-center" style="padding: 15px">
            <div class="col-7 align-self-center">
                <h1 class="text-center">1. Overview</h1>
                <p class="text-center" style="font-size: 20px">Preprosthetic Rehabilitation
                    occurs at the Inpatient Rehabilitation Facility and aims for
                    functional independence and medical stability at the wheelchair/walker
                    level to ensure a safe discharge to the community.</p>

            </div>
        </div>
        <div class="row justify-content-start" style="padding: 15px">
            <div class="col-7 align-self-start">
                <h2 class="text-start">2. Preprosthetic Phase</h2>
                <p>Shaping, shrinking, muscle control and strength focus,
                    fitting of the prosthetic device</p>
            </div>
        </div>

    </div>

{% endblock %}