{% extends "Base_Template.html" %}

{% block title %} Prosthetic Fitting {% endblock %}

{% block header %}
    <h1>Prosthetic Fitting</h1>
{% endblock %}


{% block content %}

     <div class="container-lg">

        <div class="row justify-content-center" style="padding: 15px">
            <div class="col-7 align-self-center">
                <h1 class="text-center">1. Overview</h1>
                <p class="text-center" style="font-size: 20px">Prosthetic Fitting
                    occurs in the community setting and involves prosthetic clinic
                    visits and time taken to make a well-fitting prosthesis.</p>

            </div>
        </div>
        <div class="row justify-content-start" style="padding: 15px">
            <div class="col-7 align-self-start">
                <h2 class="text-start">2. Fitting Timepoint & Prescription Phase</h2>
                <p>Physical therapy with a prosthetic device before discharge and
                Return to social and active life with exercise and mental health support
                </p>
            </div>
        </div>

    </div>

{% endblock %}