{% extends "Provider_page_template.html" %}

{% block title %} Score Input {% endblock %}

{% block header %}
    <h1 style="color: rgb(150,190, 230); text-align: end">Provider's Score Input</h1>
{% endblock %}

{% block content %}

    <div class="container-md">
        <h1 class="text-center" style="padding: 20px">Timed Up & Go</h1>
        <form>
            <div class="row justify-content-between" style="font-size: 20px">
                
                <label>
                    <p style="font-size: 20px">Time (in seconds):</p>
                    <input type="text" placeholder="" name="timedGoTime" id="timedGoTime" autocomplete="off" size="10"/>
                    <p id="timeError" style="color: red; visibility: hidden;">Please enter a valid number for time taken.</p>

                    <button type="button" id="btnSubmit" style="font-size: 25px" onclick="submitTime()">Submit</button>

                </label>
            </div>
        </form>
        <script>
            function submitTime()
            {
                // Validate Time as a Number
                var timedGOInput = document.getElementById("timedGoTime");
                var timedGoError = document.getElementById("timeError");
                var timedGoValue = timedGOInput.value.trim();


                if (timedGoValue === "" || isNaN(timedGoValue) || parseInt(timedGoValue) < 0)
                    timedGoError.style.visibility = "visible";
                else
                    window.location.href = "/Provider_6Min_Test";
                    //timedGoError.style.visibility = "hidden";
            }
        </script>
    </div>

{% endblock %}
