{% extends "New_Base_Template.html" %}

{% block title %} Authorize Patient {% endblock %}

{% block header %}
    <h1>Request Patient Authorization</h1>
{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="row justify-content-center" style="padding: 15px;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST" action="/Provider_Create_Authorization">
            {% csrf_token %} <!-- Form  Security Token, I think-->
            <h1 class="text-center">Request Authorization from Patient to Access Information</h1>
            <div class="form-group">
                <label for="patient">Patient Email</label>
            <input id="patient" type="text" class="form-control" placeholder="Patient Email" required="required" name="patient">
            </div><br>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block">Authorize</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}