{% extends "Provider_base_template.html" %}

{% block title %} Prosthetic Rehabilitation {% endblock %}

{% block header %}
    <h1 style="color: rgb(150,190, 230); text-align: end">Prosthetic Rehabilitation</h1>
{% endblock %}

{% block content %}

    <h2  style="color: rgb(30, 64, 124); text-align: center">
                    <strong class="fw-bold">Prosthetic Rehabilitation Information</strong>
                </h2>

    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col justify-content-center">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="PLS-tab" data-bs-toggle="tab" data-bs-target="#PLS" type="button" role="tab" aria-controls="PLS" aria-selected="true">Phantom Limb</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="RLS-tab" data-bs-toggle="tab" data-bs-target="#RLS" type="button" role="tab" aria-controls="RLS" aria-selected="false">Residual Limb</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="SCS-tab" data-bs-toggle="tab" data-bs-target="#SCS" type="button" role="tab" aria-controls="SCS" aria-selected="false">Socket Comfort</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="PM-tab" data-bs-toggle="tab" data-bs-target="#PM" type="button" role="tab" aria-controls="PM" aria-selected="false">Plus-M</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ANP-tab" data-bs-toggle="tab" data-bs-target="#ANP" type="button" role="tab" aria-controls="ANP" aria-selected="false">AmpNoPro</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="AP-tab" data-bs-toggle="tab" data-bs-target="#AP" type="button" role="tab" aria-controls="AP" aria-selected="false">AmpPro</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="UAG-tab" data-bs-toggle="tab" data-bs-target="#UAG" type="button" role="tab" aria-controls="UAG" aria-selected="false">Timed Up and Go</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="WT-tab" data-bs-toggle="tab" data-bs-target="#WT" type="button" role="tab" aria-controls="WT" aria-selected="false">6Min Walk Test</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="PLS" role="tabpanel" aria-labelledby="PLS-tab">

                        <canvas id="PLS_Table" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="tab-pane fade" id="RLS" role="tabpanel" aria-labelledby="RLS-tab">

                        <canvas id="RLS_Table" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="tab-pane fade" id="SCS" role="tabpanel" aria-labelledby="SCS-tab">

                        <canvas id="SCS_Table" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="tab-pane fade" id="PM" role="tabpanel" aria-labelledby="PM-tab">

                        <canvas id="PM_Table" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="tab-pane fade" id="ANP" role="tabpanel" aria-labelledby="ANP-tab">

                        <canvas id="ANP_Table" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="tab-pane fade" id="AP" role="tabpanel" aria-labelledby="AP-tab">

                        <canvas id="AP_Table" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="tab-pane fade" id="UAG" role="tabpanel" aria-labelledby="UAG-tab">

                        <canvas id="UAG_Table" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="tab-pane fade" id="WT" role="tabpanel" aria-labelledby="WT-tab">

                        <canvas id="WT_Table" style="width:100%;max-width:600px"></canvas>
                    </div>
                </div>



            </div>
            <div class="col-4 d-none d-lg-block">
                <h1 class="text-center"> Prosthetic Admission Points</h1>
                {% for item in time_point_before %}
                    <a href="/Patient_Time_Point_Info/{{ item.timepointnum }}" style="text-decoration:none;color:rgb(0,0,0)">
                    <div class="col align-self-center time_point" >
                        <p style="font-size: 20px"><b>Start Date:</b> {{ item.startdate}}</p>
                        <p style="font-size: 20px"><b>End Date:</b> {{ item.enddate}}</p>
                        <p style="font-size: 20px"><b>Team Member:</b> {{ item.specialty }}</p>
                        <p style="font-size: 20px"><b>Location:</b> {{ item.tplocation }}</p>
            </div>
                    </a>
                    <br>
            {% endfor %}
            <h1 class="text-center"> Prosthetic Discharge Time Points</h1>
            {% for item in time_point_after %}
                <a href="/Patient_Time_Point_Info/{{ item.timepointnum }}" style="text-decoration:none">
                <div class="col align-self-center time_point" >
                    <p style="font-size: 20px"><b>Start Date:</b> {{ item.startdate}}</p>
                    <p style="font-size: 20px"><b>End Date:</b> {{ item.enddate}}</p>
                    <p style="font-size: 20px"><b>Team Member:</b> {{ item.specialty }}</p>
                    <p style="font-size: 20px"><b>Location:</b> {{ item.tplocation }}</p>
                </div>
                </a>
                    <br>

            {% endfor %}
            </div>
        </div>
        </div>
    </div>










<script>
    const xValues = {{ xValues|safe }};
    const plsAvgValues = {{ plsAvgValues|safe }};
    const rlsAvgValues = {{ rlsAvgValues|safe }};
    const scsAvgValues = {{ scsAvgValues|safe }};
    const plsMaxValues = {{ plsMaxValues|safe }};
    const rlsMaxValues = {{ rlsMaxValues|safe }};
    const scsMaxValues = {{ scsMaxValues|safe }};
    //const xValues = ["1/1/24","1/2/24","1/3/24","1/4/24","1/5/24","1/6/24","1/7/24","1/8/24","1/9/24","1/10/24","1/11/24"];
    //const yValues = [0,1,5,3,6,8,10,2,3,1,5];
    //const Values = [5,5,5,5,5,5,5,5,5,5,5];
    //const plsAvgValues = [0,1,5,3,6,8,10,2,3,1,5];
    //const rlsAvgValues = [0,1,5,3,6,8,10,2,3,1,5];
    //const scsAvgValues = [0,1,5,3,6,8,10,2,3,1,5];
    //const plsMaxValues = [5,5,5,5,5,5,5,5,5,5,5];
    //const rlsMaxValues = [5,5,5,5,5,5,5,5,5,5,5];
    //const scsMaxValues = [5,5,5,5,5,5,5,5,5,5,5];

new Chart("PLS_Table", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
        label: 'Daily Average',
        fill: false,
        lineTension: 0,
      borderColor: "rgba(0,0,255,1.0)",
      data: plsAvgValues
    },
        {label: 'Daily Max',
      fill: false,
      lineTension: 0,
      borderColor: "rgb(199,57,57)",
      data: plsMaxValues

    }
    ]
  },
  options: {
    legend: {display: true},
    scales: {
            yAxes: [{ticks: {min: 0, max: 10},}]
        },
        title: {
            display: true,
            text: 'Phantom Limb Pain Scale'
        }
    }
});

new Chart("RLS_Table", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      label: 'Daily Average',
        fill: false,
        lineTension: 0,
      borderColor: "rgba(0,0,255,1.0)",
      data: rlsAvgValues
    },
        {
      label: 'Daily Max',
      fill: false,
      lineTension: 0,
      borderColor: "rgb(199,57,57)",
      data: rlsMaxValues
    }
    ]
  },
  options: {
    legend: {display: true},
    scales: {
            yAxes: [{ticks: {min: 0, max: 10},}]
        },
        title: {
            display: true,
            text: 'Residual Limb Pain Scale'
        }
    }
});

new Chart("SCS_Table", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
     label: 'Daily Average',
        fill: false,
        lineTension: 0,
      borderColor: "rgba(0,0,255,1.0)",
      data: scsAvgValues
    },
        {
      label: 'Daily Max',
      fill: false,
      lineTension: 0,
      borderColor: "rgb(199,57,57)",
      data: scsMaxValues
    }
    ]
  },
   options: {
    legend: {display: true},
    scales: {
            yAxes: [{ticks: {min: 0, max: 10},}]
        },
        title: {
            display: true,
            text: 'Socket Comfort Score'
        }
    }
});

const pmY = {{ pmY|safe }};
const pmX = {{ pmX|safe }};
new Chart("PM_Table", {
  type: "line",
  data: {
    labels: pmX,
    datasets: [{
       label: 'Plus-M Score',
        fill: false,
        lineTension: 0,
      borderColor: "rgba(0,0,255,1.0)",
      data: pmY
    }]
  },
  options: {
    legend: {display: true},
    scales: {
           yAxes: [{ticks: {min: 7, max:35}}],
        },
        title: {
            display: false,
            text: 'Plus-M Score'
        }
    }
});


const ANPY = {{ ANPY|safe }};
const ANPX = {{ ANPX|safe }};

new Chart("ANP_Table", {
  type: "line",
  data: {
    labels: ANPX,
    datasets: [{
       label: 'Amp Scores',
        fill: false,
        lineTension: 0,
      borderColor: "rgba(0,0,255,1.0)",
      data: ANPY
    }]
  },
  options: {
    legend: {display: true},
    scales: {
            yAxes: [{ticks: {min: 0, max:43}}],
        },
        title: {
            display: false,
            text: 'AmpNoPro Scores '
        }
    }
});


const APY = {{ APY|safe }};
const APX = {{ APX|safe }};
new Chart("AP_Table", {
  type: "line",
  data: {
    labels: APX,
    datasets: [{
       label: 'Amp Scores',
        fill: false,
        lineTension: 0,
      borderColor: "rgba(0,0,255,1.0)",
      data: APY
    }]
  },
  options: {
    legend: {display: true},
    scales: {
            yAxes: [{ticks: {min: 0, max:43}}],
        },
        title: {
            display: false,
            text: 'AmpNoPro Scores '
        }
    }
});

const UAGY = {{ UAGY|safe }};
const UAGX = {{ UAGX|safe }};

new Chart("UAG_Table", {
  type: "line",
  data: {
    labels: UAGX,
    datasets: [{
      label: 'Up and Go Time',
        fill: false,
        lineTension: 0,
      borderColor: "rgba(0,0,255,1.0)",
      data: UAGY
    }]
  },
 options: {
    legend: {display: true},
    scales: {
           yAxes: [{ticks: {min: 0, max:20}}]
        },
        title: {
            display: false,
            text: 'Up and Go Time'
        }
    }
});


const WTY = {{ WTY|safe }};
const WTX = {{ WTX|safe }};

new Chart("WT_Table", {
  type: "line",
  data: {
    labels: WTX,
    datasets: [{
      label: '6 Minute Walk Test Score',
        fill: false,
        lineTension: 0,
      borderColor: "rgba(0,0,255,1.0)",
      data: WTY
    }]
  },
 options: {
    legend: {display: true},
    scales: {
            yAxes: [{ticks: {min: 0, max: 10},}]
        },
        title: {
            display: false,
            text: '6 Minute Walk Test Score'
        }
    }
});
</script>

{% endblock %}
