<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>


.content {
  max-width: 300px;
  margin: auto;
  padding: 10px;
}
</style>
</head>




<body style="background-color:rgba(228,250,22,0.28);">
<div class="content">
<section>
    <svg width="330" height="135">
        <rect x="20" y="20" rx="20" ry="20" width="300" height="75"
        style="fill:rgba(106,250,22,0.77);stroke:#427a27;stroke-width:5;opacity:0.75" />
        <text x="50%" y="40%" dominant-baseline="middle" text-anchor="middle"
        font-family="30px sans-serif" font-size="25"
        >{{ type }}</text>
        Sorry, your browser does not support inline SVG.
    </svg>
</section>


<!-- Uses Chart.js to graph-->
<section>
<canvas id="myChart"  style="width:100%;max-width:300px"></canvas>

<script>
const xValues = [50,60,70,80,90,100,110,120,130,140,150];
const yValues = [7,8,8,9,9,9,10,11,14,14,15];

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgb(228,250,22)",
      borderColor: "rgb(66,122,39)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});

</script>
    </section>


    </div>
</body>
</html>